.legend-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 4px;
}

.info-sidebar {
  flex: 0 0 256px;
}

.legend-sidebar {
  flex: 0 0 256px;
}

#logo {
  margin: auto;
  width: 100%;
  max-width: 256px;
}

#chart-container {
  height: 85vh;
  flex: 1 1;
  border-radius: 20px;
  border: 1px solid gray;
  background-color: #f1f1f1;
}

.btn.collapseToggleIcon::before {
  float: right;
  right: 10%;
  content: "+";
  font-size: 24px;
  line-height: 1rem;
}
